.heading{
    animation: none;
    color: rgb(6, 119, 194);
    text-decoration: underline;
}

.intro{
    animation: none;
    width: 500px;
    margin-left: 420px;
    color: #067952;
    padding: 0px;
}

.my-heading{
    color: rgb(128, 5, 107);
    font-size: 2rem;
}


@media only screen and (max-width:480px) {
    .introduction{
        display: grid;
        justify-content: center;
    }

    .intro{
        margin-left: 0px;
        width: 300px;
    }
    .heading{
        justify-content: center;
    }
}